* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.active {
    padding: 2rem;
}

.container {
    width: 80%;
    margin: auto;
}

.code {
    display: flex;
}

.code-item {
    padding: 1rem;

    button {
        background-color: blue;
        color: white;
        padding: .5em.75em;
        border: none;
        border-radius: 3px;
        font-size: 12px;

        &:hover {
            background-color: gold;
        }

    }

}